.leftIn {
    left: 0 !important;
}

.rightIn {
  right: 0 !important;
}

.bottomUp {
  bottom: auto !important;
}

.topDown {
  top: 0 !important;
}

.topUp {
  top: -500px !important;
}

.visible {
  opacity: 1 !important;
}

.bounceIn {
  opacity: 1 !important;

  animation: bounceIn 1s ease-in-out;
  -o-animation: bounceIn 1s ease-in-out;
  -moz-animation: bounceIn 1s ease-in-out;
  -webkit-animation: bounceIn 1s ease-in-out;
}

.slideCenter {
  -webkit-animation: slide-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  -moz-animation: slide-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  -o-animation: slide-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.buttonPress {
  animation: buttonPress 1s ease-in-out forwards;
  -o-animation: buttonPress 1s ease-in-out forwards;
  -moz-animation: buttonPress 1s ease-in-out forwards;
  -webkit-animation: buttonPress 1s ease-in-out forwards;
}

.buttonAppear {
  animation: buttonAppear 1s ease-in-out forwards;
  -o-animation: buttonAppear 1s ease-in-out forwards;
  -moz-animation: buttonAppear 1s ease-in-out forwards;
  -webkit-animation: buttonAppear 1s ease-in-out forwards;
}

 @-webkit-keyframes slide-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
            transform: translateZ(160px);
  }
}

@-o-keyframes slide-center{
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
            transform: translateZ(160px);
  }
}

@-moz-keyframes slide-center{
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
            transform: translateZ(160px);
  }
}

@keyframes slide-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
            transform: translateZ(160px);
  }
}

@keyframes buttonAppear{
  0%{
    opacity: 0;
    transform: scale(0);
  }
  80%{
    opacity: 1;
    transform: scale(1.2);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

@-o-keyframes buttonAppear{
  0%{
    opacity: 0;
    transform: scale(0);
  }
  80%{
    opacity: 1;
    transform: scale(1.2);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

@-moz-keyframes buttonAppear{
  0%{
    opacity: 0;
    transform: scale(0);
  }
  80%{
    opacity: 1;
    transform: scale(1.2);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

@-webkit-keyframes buttonAppear{
  0%{
    opacity: 0;
    transform: scale(0);
  }
  80%{
    opacity: 1;
    transform: scale(1.2);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes buttonPress{
  0%{
    opacity: 1;
    transform: scale(1);
  }
  80%{
    opacity: 1;
    transform: scale(1.2);
  }
  100%{
    opacity: 0;
    transform: scale(0);
  }
}

@-o-keyframes buttonPress{
  0%{
    opacity: 1;
    transform: scale(1);
  }
  80%{
    opacity: 1;
    transform: scale(1.2);
  }
  100%{
    opacity: 0;
    transform: scale(0);
  }
}

@-moz-keyframes buttonPress{
  0%{
    opacity: 1;
    transform: scale(1);
  }
  80%{
    opacity: 1;
    transform: scale(1.2);
  }
  100%{
    opacity: 0;
    transform: scale(0);
  }
}

@-webkit-keyframes buttonPress{
  0%{
    opacity: 1;
    transform: scale(1);
  }
  80%{
    opacity: 1;
    transform: scale(1.2);
  }
  100%{
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes bounceIn{
    0%{
      opacity: 0;
      transform: scale(0.3) translate3d(0,0,0);
    }
    50%{
      opacity: 0.9;
      transform: scale(1.1);
    }
    80%{
      opacity: 1;
      transform: scale(0.89);
    }
    100%{
      opacity: 1;
      transform: scale(1) translate3d(0,0,0);
    }
}
  
@-o-keyframes bounceIn {
  0%{
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
  }
  50%{
    opacity: 0.9;
    transform: scale(1.1);
  }
  80%{
    opacity: 1;
    transform: scale(0.89);
  }
  100%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
  }
}

@-moz-keyframes bounceIn {
  0%{
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
  }
  50%{
    opacity: 0.9;
    transform: scale(1.1);
  }
  80%{
    opacity: 1;
    transform: scale(0.89);
  }
  100%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
  }
}

@-webkit-keyframes bounceIn {
  0%{
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
  }
  50%{
    opacity: 0.9;
    transform: scale(1.1);
  }
  80%{
    opacity: 1;
    transform: scale(0.89);
  }
  100%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
  }
}