@import url("https://use.typekit.net/pld6oot.css");

// colors
$gray: #EFEFEF;
$white: #FFFFFF;
$black: #151515;

$yellow-gradient: linear-gradient(135deg, rgba(255,207,3,1) 0%, rgba(255,228,113,1) 100%);
$black-gradient: linear-gradient(90deg, #151515 0%, #393939 100%);

// fonts
$proxima: proxima-nova, sans-serif; 
$sofia: sofia-pro, sans-serif;

// sizes
$size-55: 55px;
$size-40: 40px;
$size-30: 30px;
$size-25: 25px;
$size-20: 20px;
$size-15: 15px;
$size-11: 11px;
$size-10: 10px;