.scroll {
    margin-top: 30px;

    &__border {
        border: 3px solid $black;
        width: 22px;
        height: 32px;
        padding: 3px 0px;
        border-radius: 18px;
        display: flex;
        justify-content: center;

        animation: scroll 2s ease-in-out infinite;
        -o-animation: scroll 2s ease-in-out infinite;
        -moz-animation: scroll 2s ease-in-out infinite;
        -webkit-animation: scroll 2s ease-in-out infinite;
        &--content {
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background-color: $black;
        }
    }
}

.scroll-text {
    text-align: center;
    font-family: $proxima;
    color: $black;
    font-weight: 100;
    font-size: $size-11;
    margin-top: 10px;
}

@keyframes scroll {
    0% {padding: 3px 0px;}
    50% {padding: 8px 0px;}
    100% {padding: 3px 0px;}
}

@-o-keyframes scroll {
    0% {padding: 3px 0px;}
    50% {padding: 8px 0px;}
    100% {padding: 3px 0px;}
}

@-moz-keyframes scroll {
    0% {padding: 3px 0px;}
    50% {padding: 8px 0px;}
    100% {padding: 3px 0px;}
}

@-webkit-keyframes scroll {
    0% {padding: 3px 0px;}
    50% {padding: 8px 0px;}
    100% {padding: 3px 0px;}
}