.head-title {
    font-family: $sofia;
    font-size: $size-55;
    color: $black;
}

@media (max-width: 768px) {
    .head-title{
        font-size: $size-40;
    }
}

.section-title {
    display: inline-block;
    position: relative;
    transition: ease-in-out 0.5s;
    
    h2 {
        font-family: $sofia;
        font-size: $size-30;
        color: $black;
        font-weight: bold;
    }

    &__underline {
        width: 100%;
        height: 25px;
        background: $yellow-gradient;

        margin-top: -20px;
    }

    margin-bottom: 50px;
}

.right-title {
    right: -100vw;
}

.left-title {
    left: -100vw;
}

.bold-title {
    font-weight: 700;
}

.light-title {
    font-weight: 300;
}